<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.springboot.mybatis.mapper.IStudentMapper">
  <resultMap id="BaseResultMap" type="com.wei.springboot.mybatis.domain.entity.Student">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, is_delete
  </sql>
    <select id="getStudent" resultMap="BaseResultMap">
      select * from student where is_delete=1;
    </select>
</mapper>